In [1]:
import pandas as pd

school_data_path = "../Resources/schools_complete.csv"
student_data_path = "../Resources/students_complete.csv"

school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [30]:
district_school_count = len(school_data_complete["school_name"].unique())
district_student_count = school_data_complete["Student ID"].count()
district_budget = school_data_complete["budget"].unique().sum()
district_math_score = school_data_complete["math_score"].mean()
district_reading_score = school_data_complete["reading_score"].mean()

masked_passed_math = school_data_complete["math_score"] >= 70
masked_passed_reading = school_data_complete["reading_score"] >= 70
masked_passed_overall = (school_data_complete["math_score"] >= 70) & \
                        (school_data_complete["reading_score"] >= 70)

district_math_count = school_data_complete[masked_passed_math].count()["student_name"]
district_reading_count = school_data_complete[masked_passed_reading].count()["student_name"]
district_overall_count = school_data_complete[masked_passed_overall].count()["student_name"]

district_math_percent = district_math_count / district_student_count * 100
district_reading_percent = district_reading_count / district_student_count * 100
district_overall_percent = district_overall_count / district_student_count * 100

district_overall_percent

65.17232575950983

In [36]:
district_summary = pd.DataFrame([{
    "Total Schools" : district_school_count,
    "Total Students" : district_student_count,
    "Total Budget" : district_budget,
    "Average Math Score" : district_math_score,
    "Average Reading Score" : district_reading_score,
    "Percent Passing Math" : district_math_percent,
    "Percent Passing Reading" : district_reading_percent,
    "Percent Overall Passing" : district_overall_percent
    }])

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["Percent Passing Math"] = district_summary["Percent Passing Math"].map("{:.2f}%".format)
district_summary["Percent Passing Reading"] = district_summary["Percent Passing Reading"].map("{:.2f}%".format)
district_summary["Percent Overall Passing"] = district_summary["Percent Overall Passing"].map("{:.2f}%".format)

district_summary.style.hide_index()

In [57]:
#look back on this from starter code
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [69]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [96]:
school_data_byschool = school_data_complete.groupby(["school_name"])
school_average = school_data_byschool.mean()

per_school_counts = school_average["size"]
per_school_budget = school_average["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_math = school_average["math_score"]
per_school_reading = school_average["reading_score"]