In [35]:
import pandas as pd

school_data_path = "../Resources/schools_complete.csv"
student_data_path = "../Resources/students_complete.csv"

school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [36]:
district_school_count = len(school_data_complete["school_name"].unique())
district_student_count = school_data_complete["Student ID"].count()
district_budget = school_data_complete["budget"].unique().sum()
district_math_score = round(school_data_complete["math_score"].mean(), 2)
district_reading_score = round(school_data_complete["reading_score"].mean(), 2)

masked_passed_math = school_data_complete["math_score"] >= 70
masked_passed_reading = school_data_complete["reading_score"] >= 70
masked_passed_overall = (school_data_complete["math_score"] >= 70) & \
                        (school_data_complete["reading_score"] >= 70)

district_math_count = school_data_complete[masked_passed_math].count()["student_name"]
district_reading_count = school_data_complete[masked_passed_reading].count()["student_name"]
district_overall_count = school_data_complete[masked_passed_overall].count()["student_name"]

district_math_percent = round(district_math_count / district_student_count * 100, 2)
district_reading_percent = round(district_reading_count / district_student_count * 100, 2)
district_overall_percent = round(district_overall_count / district_student_count * 100, 2)

district_overall_percent

65.17

In [40]:
district_summary = pd.DataFrame(
    {"Total Number of Unique Schools" : district_school_count})

district_summary

ValueError: If using all scalar values, you must pass an index