In [199]:
import pandas as pd

school_data_path = "../Resources/schools_complete.csv"
student_data_path = "../Resources/students_complete.csv"

school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [200]:
district_school_count = len(school_data_complete["school_name"].unique())
district_student_count = school_data_complete["Student ID"].count()
district_budget = school_data_complete["budget"].unique().sum()
district_math_score = school_data_complete["math_score"].mean()
district_reading_score = school_data_complete["reading_score"].mean()

masked_passed_math = school_data_complete["math_score"] >= 70
masked_passed_reading = school_data_complete["reading_score"] >= 70
masked_passed_overall = (school_data_complete["math_score"] >= 70) & \
                        (school_data_complete["reading_score"] >= 70)

district_math_count = school_data_complete[masked_passed_math].count()["student_name"]
district_reading_count = school_data_complete[masked_passed_reading].count()["student_name"]
district_overall_count = school_data_complete[masked_passed_overall].count()["student_name"]

district_math_percent = district_math_count / district_student_count * 100
district_reading_percent = district_reading_count / district_student_count * 100
district_overall_percent = district_overall_count / district_student_count * 100

district_overall_percent

65.17232575950983

In [201]:
district_summary = pd.DataFrame([{
    "Total Schools" : district_school_count,
    "Total Students" : district_student_count,
    "Total Budget" : district_budget,
    "Average Math Score" : district_math_score,
    "Average Reading Score" : district_reading_score,
    "Percent Passing Math" : district_math_percent,
    "Percent Passing Reading" : district_reading_percent,
    "Percent Overall Passing" : district_overall_percent
    }])

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["Percent Passing Math"] = district_summary["Percent Passing Math"].map("{:.2f}%".format)
district_summary["Percent Passing Reading"] = district_summary["Percent Passing Reading"].map("{:.2f}%".format)
district_summary["Percent Overall Passing"] = district_summary["Percent Overall Passing"].map("{:.2f}%".format)

district_summary.style.hide_index()

In [209]:
#look back on this from starter code
school_types = school_data.set_index(["school_name"])["type"]
type(school_types)

pandas.core.series.Series

In [203]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [216]:
school_data_byschool = school_data_complete.groupby(["school_name"])
school_average = school_data_byschool.mean()

per_school_counts = school_average["size"]
per_school_budget = school_average["budget"]
# per_school_capita = pd.DataFrame(per_school_budget["budget"] / per_school_counts["size"])
# per_school_math = school_average[["math_score"]]
# per_school_reading = school_average[["reading_score"]]

# per_school_passed_math_count = school_data_complete[masked_passed_math].groupby(["school_name"]).count()
# per_school_passed_reading_count = school_data_complete[masked_passed_reading].groupby(["school_name"]).count()
# per_school_passed_overall_count = school_data_complete[masked_passed_overall].groupby(["school_name"]).count()

# per_school_passed_math = pd.DataFrame((per_school_passed_math_count["math_score"] / per_school_counts["size"]) * 100)
# per_school_passed_reading = pd.DataFrame((per_school_passed_reading_count["reading_score"] / per_school_counts["size"]) * 100)
# per_school_passed_overall = pd.DataFrame((per_school_passed_overall_count["Student ID"] / per_school_counts["size"]) * 100)

In [205]:
per_school_summary = pd.merge(school_types, per_school_counts, on = "school_name")
per_school_summary = pd.merge(per_school_summary, per_school_budget, on = "school_name")
per_school_summary = pd.merge(per_school_summary, per_school_capita, on = "school_name")
per_school_summary = pd.merge(per_school_summary, per_school_math, on = "school_name")
per_school_summary = pd.merge(per_school_summary, per_school_reading, on = "school_name")
per_school_summary = pd.merge(per_school_summary, per_school_passed_math, on = "school_name")
per_school_summary = pd.merge(per_school_summary, per_school_passed_reading, on = "school_name")
per_school_summary = pd.merge(per_school_summary, per_school_passed_overall, on = "school_name")

per_school_counts
# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

                         size
school_name
Bailey High School     4976.0
Cabrera High School    1858.0
Figueroa High School   2949.0
Ford High School       2739.0
Griffin High School    1468.0
Hernandez High School  4635.0
Holden High School      427.0
Huang High School      2917.0
Johnson High School    4761.0
Pena High School        962.0
Rodriguez High School  3999.0
Shelton High School    1761.0
Thomas High School     1635.0
Wilson High School     2283.0
Wright High School     1800.0

In [206]:
school_size_test = school_data_complete.groupby(["school_name"]).mean()["budget"]
school_size_test.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [207]:
school_df = pd.DataFrame(
    {
    "Student Count": school_size_test
    }
)
school_df

                       Student Count
school_name
Bailey High School         3124928.0
Cabrera High School        1081356.0
Figueroa High School       1884411.0
Ford High School           1763916.0
Griffin High School         917500.0
Hernandez High School      3022020.0
Holden High School          248087.0
Huang High School          1910635.0
Johnson High School        3094650.0
Pena High School            585858.0
Rodriguez High School      2547363.0
Shelton High School        1056600.0
Thomas High School         1043130.0
Wilson High School         1319574.0
Wright High School         1049400.0